/node_modules
/public/hot
/public/build/manifest.json
/public/storage
/public/uploads
/public/build/manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.pnp.cjs
/.pnp.loader.mjs
/.yarn
/.idea
/.vscode
rr
.rr.yaml
.vapor/

*/.DS_Store
.DS_Store
package-lock.json
stats.html

public/build
