@import "functions";
@import "variables";
@import "mixins";

.profile-contant nav.gap-lg ul {
    padding: 0;
}

.profile-contant h4 {
    margin: 0;
}

.billing-form .form-group-material {
    padding-bottom: 1rem;
}

.billing-form .btn-save {
    margin-top: 20px;
}

@include media-breakpoint-down(md) {
    .billing-box {
        h5 {
            font-size: 14px;
            line-height: 50px;
        }

        p {
            font-size: 15px;
            margin-bottom: 35px;
        }
    }

    .billing-form .btn-save {
        margin-top: 10px;
    }
}
