@import "functions";
@import "variables";
@import "mixins";

form.change-pass {
    margin-top: 34px;

    .form-group-material {
        padding-bottom: 1rem;
    }
}

form.change-pass a.btn {
    margin-top: 2.125rem;
}

// @include media-breakpoint-down(sm) {}
