html[dir="rtl"] .newsletter form div.form-group .btn {
    left: 20px !important;
    right: auto !important;
}
html[dir="rtl"] .footerTestimonialSwiper .swiper-button-next {
    left: 0 !important;
    right: auto !important;
    transform: rotate(180deg) !important;
}
html[dir="rtl"] .footerTestimonialSwiper .swiper-button-prev {
    right: 0 !important;
    left: auto !important;
    transform: rotate(180deg) !important;
}
html[dir="rtl"] .ll-call-to-action-container {
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
}
html[dir="rtl"] .ll-call-to-action-container h2 {
    color: white !important;
}
@media (min-width: 1280px) {
    html[dir="rtl"] .xl\:-tw-ms-\[100px\] {
        margin-inline-start: 0px;
    }
}
html[dir="rtl"] .dropdown-menu:before {
    left: 4px !important;
    right: auto !important;
}
html[dir="rtl"] .arrow-icon,
html[dir="rtl"] .btn.text-uppercase .icon-side {
    transform: rotate(180deg) !important;
}
html[dir="rtl"] .form-check .form-check-input {
    float: right !important;
}

